* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

header {
  -webkit-box-shadow: 0 0 20px 2px;
          box-shadow: 0 0 20px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .image-holder {
  display: inline-block;
}

header .image-holder img {
  width: 65px;
  border-radius: 50%;
  margin: 10px 0;
  margin-left: 30px;
  -webkit-transition: 550ms;
  transition: 550ms;
}

header .image-holder img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

header .header-nav ul li {
  list-style: none;
  display: inline-block;
}

header .header-nav ul li a {
  display: inline-block;
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
  margin-right: 60px;
  font-size: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header .header-nav ul li a:hover {
  text-decoration: underline;
  color: #ffc311;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .header-nav ul li .active {
  color: #ffc311;
}

header .header-nav ul li .active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
}

footer {
  background-color: #34495e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
}

footer .contact {
  width: 30%;
}

footer .contact h1 {
  margin-bottom: 10px;
}

footer .contact i {
  color: #ffc311;
}

footer .contact p {
  display: inline-block;
  color: #aaaaaa;
  font-size: 30px;
  margin: 10px 5px;
}

.page .measures {
  background-color: #34495e;
  margin: 40px auto;
  padding: 30px;
  -webkit-box-shadow: 0 0 20px;
          box-shadow: 0 0 20px;
  width: 85%;
}

.page .measures h1 {
  color: white;
  margin-bottom: 15px;
}

.page .measures .holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.page .measures .holder > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 0;
}

.page .measures .holder > div p {
  color: white;
  font-size: 30px;
  font-family: Montserrat;
  font-weight: 500;
  line-height: 44px;
  text-align: justify;
  margin-right: 40px;
}

.page .measures .holder .ruke img {
  width: 18%;
}

.page .measures .holder .maska img {
  width: 20%;
}

.page .measures .holder .distanca img {
  width: 40%;
}

.page .simptoms {
  width: 85%;
  margin: 40px auto;
  position: relative;
  -webkit-box-shadow: 0 0 20px;
          box-shadow: 0 0 20px;
  padding: 40px;
}

.page .simptoms h1 {
  margin-bottom: 30px;
  color: #34495e;
}

.page .simptoms p {
  color: gray;
  font-size: 25px;
}

.page .simptoms .last-text {
  width: 60%;
  margin-bottom: 60px;
}

.page .simptoms .first-image {
  position: absolute;
  top: 75px;
  right: 20px;
}

.page .simptoms .second-image {
  position: absolute;
  bottom: 75px;
  right: 40px;
  width: 400px;
}
/*# sourceMappingURL=Anti-Covid.css.map */