* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Montserrat;
}

h1 {
  border-bottom: 5px solid #ffc311;
  display: inline-block;
  font-size: 50px;
  margin-bottom: 50px;
}

header {
  -webkit-box-shadow: 0 0 20px 2px;
          box-shadow: 0 0 20px 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .image-holder {
  display: inline-block;
}

header .image-holder img {
  width: 65px;
  border-radius: 50%;
  margin: 10px 0;
  margin-left: 30px;
  -webkit-transition: 550ms;
  transition: 550ms;
}

header .image-holder img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  cursor: pointer;
}

header .header-nav ul li {
  list-style: none;
  display: inline-block;
}

header .header-nav ul li a {
  display: inline-block;
  color: #34495e;
  font-weight: bold;
  text-decoration: none;
  margin-right: 60px;
  font-size: 22px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

header .header-nav ul li a:hover {
  text-decoration: underline;
  color: #ffc311;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

header .header-nav ul li .active {
  color: #ffc311;
}

header .header-nav ul li .active:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  text-decoration: none;
}

footer {
  background-color: #34495e;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
}

footer img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 100px;
}

footer .contact {
  width: 30%;
}

footer .contact h1 {
  margin-bottom: 10px;
}

footer .contact i {
  color: #ffc311;
}

footer .contact p {
  display: inline-block;
  color: #aaaaaa;
  font-size: 30px;
  margin: 10px 5px;
}

ul {
  margin-bottom: 0;
}

#fill {
  width: 420px;
  height: 50px;
  margin: 20px 40px;
  color: #34495e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 0 10px;
          box-shadow: 0 0 10px;
}

#fill h5 {
  font-weight: bold;
  font-size: 25px;
}

#fill h5 span {
  color: #ffc311;
}

.card {
  width: 98%;
  margin: 10px auto;
  border: 1px solid gray;
}

.card .card-header {
  background-color: #34495e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-weight: bold;
}

.card .card-header h6 {
  font-size: 20px;
  margin: 10px 20px;
}

.card .card-body .dugme {
  width: 75px;
  height: 35px;
  background-color: #8dc6ff;
  color: white;
  font-weight: bold;
  margin: 15px 20px;
  border-radius: 10px;
}

.card .card-body .clicked {
  background-color: #ffc311;
}

.submit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-bottom: 15px;
  margin-top: 10px;
}

.submit input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 260px;
  height: 40px;
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
  background-color: #34495e;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
}
/*# sourceMappingURL=testCovid.css.map */