@import "Values";
header {
    box-shadow: 0 0 20px 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .image-holder {
        display: inline-block;
        img {
            width: 65px;
            border-radius: 50%;
            margin: 10px 0;
            margin-left: 30px;
            transition: 550ms;
            &:hover {
                transform: rotate(360deg);
                cursor: pointer;
            }
        }
    }
    .header-nav {
        ul {
            li {
                list-style: none;
                display: inline-block;
                a {
                    display: inline-block;
                    color: $prim-color;
                    font-weight: bold;
                    text-decoration: none;
                    margin-right: 60px;
                    font-size: 22px;
                    transition: 300ms;
                    &:hover {
                        text-decoration: underline;
                        color: $orange;
                        transform: scale(1.3);
                    }
                }
                .active {
                    color: $orange;
                    &:hover {
                        transform: scale(1);
                        text-decoration: none;
                    }
                }
            }
        }
    }
}
