$prim-color: #34495e;
$green: #19b80b;
$orange: #ffc311;
$red: #ff5722;
$cyan: #8dc6ff;

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Montserrat;
}

h1 {
    border-bottom: 5px solid $orange;
    display: inline-block;
    font-size: 50px;
    margin-bottom: 50px;
}
