@import "Values";
@import "Header";
@import "Footer";

.page {
    .measures {
        background-color: $prim-color;
        margin: 40px auto;
        padding: 30px;
        box-shadow: 0 0 20px;
        width: 85%;

        h1 {
            color: white;
            margin-bottom: 15px;
        }

        .holder {
            display: flex;
            flex-direction: column;

            > div {
                display: flex;
                margin: 20px 0;

                p {
                    color: white;
                    font-size: 30px;
                    font-family: Montserrat;
                    font-weight: 500;
                    line-height: 44px;
                    text-align: justify;
                    margin-right: 40px;
                }
            }
            .ruke {
                img {
                    width: 18%;
                }
            }
            .maska {
                img {
                    width: 20%;
                }
            }
            .distanca {
                img {
                    width: 40%;
                }
            }
        }
    }
    .simptoms {
        width: 85%;
        margin: 40px auto;
        position: relative;
        box-shadow: 0 0 20px;
        padding: 40px;
        h1 {
            margin-bottom: 30px;
            color: $prim-color;
        }
        p {
            color: gray;
            font-size: 25px;
        }
        .last-text {
            width: 60%;
            margin-bottom: 60px;
        }
        .first-image {
            position: absolute;
            top: 75px;
            right: 20px;
        }
        .second-image {
            position: absolute;
            bottom: 75px;
            right: 40px;
            width: 400px;
        }
    }
}
