@import "Values";
@import "Header";
@import "Footer";
ul {
    margin-bottom: 0;
}
.commentd {
    margin-top: 25px;
    color: #34495e;
    display: flex;
    flex-direction: column;
    height: 120px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    > h1 {
        margin-top: 10px;
        text-align: center;
        margin-bottom: 5px;
        border-bottom: none;
        font-size: 30px;
    }
    .comment {
        margin-left: 45%;
        background-color: #34495e;
        color: white;
        width: 200px;
        height: 50px;
        border: none;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        transition: 0.4s;
    }
}

.popup {
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    .popupc {
        height: auto;
        width: 500px;
        background: #34495e;
        z-index: 100;
        .remove {
            width: 500px;
            .close {
                cursor: pointer;
                width: 15px;
                height: 15px;
                margin-top: 15px;
                margin-left: 95%;
            }
            > h1 {
                color: white;
                margin-top: 10px;
                margin-left: 15px;
                margin-bottom: 5px;
            }
        }
        .content {
            padding: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            color: white;

            .submit {
                margin-left: 40%;
                margin-top: 8px;
                width: 25%;
                height: 30px;
                background: #ffc311;
                color: white;
                font-weight: bold;
                border: none;
                box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                transition: 0.4s;
                cursor: pointer;
            }
        }
    }
}
.cardsContainer {
    margin: 15px auto;
    min-height: 400px;
    #cardContainer {
        margin: auto;
        margin-bottom: 15px;
        width: 95%;

        .commentbox {
            margin-bottom: 10px;
            position: relative;
            .text-right {
                position: absolute;
                right: 15px;
                top: 15px;
            }
            i {
                display: inline-block;
                color: white;
            }
            h3 {
                color: white !important;
                display: inline-block;
            }
            p {
                color: white;
            }
        }
    }
}
