@import "Values";
@import "Header";
@import "Footer";

.page {
    width: 90%;
    margin: auto;
    .map {
        margin: 30px 0;
        box-shadow: 0 0 20px;

        h1 {
            font-weight: 100;
            margin-top: 15px;
            margin-left: 30px;
            margin-bottom: 0px;
            font-size: 40px;
        }
        > div {
            display: flex;
            padding: 40px;
            img {
                width: 30%;
            }
            > div {
                width: 70%;
                margin-left: 80px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: center;
                font-size: 30px;
                p {
                    margin: 20px 0;
                }
                span {
                    color: $orange;
                }
            }
        }
    }
    .crna {
        background-color: $prim-color;
        h1 {
            color: white;
        }
        > div > div {
            color: white;
        }
    }
}
