@import "Values";
@import "Header";
@import "Footer";
ul {
    margin-bottom: 0;
}

#fill {
    width: 420px;
    height: 50px;
    margin: 20px 40px;
    color: $prim-color;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px;
    h5 {
        font-weight: bold;
        font-size: 25px;
        span {
            color: $orange;
        }
    }
}
.card {
    width: 98%;
    margin: 10px auto;
    border: 1px solid gray;
    .card-header {
        background-color: $prim-color;
        display: flex;
        align-items: center;
        color: white;
        font-weight: bold;
        h6 {
            font-size: 20px;
            margin: 10px 20px;
        }
    }
    .card-body {
        .dugme {
            width: 75px;
            height: 35px;
            background-color: #8dc6ff;
            color: white;
            font-weight: bold;
            margin: 15px 20px;
            border-radius: 10px;
        }
        .clicked {
            background-color: $orange;
        }
    }
}

.submit {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 15px;
    margin-top: 10px;
    input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 260px;
        height: 40px;
        transform: translateX(-50px);
        background-color: $prim-color;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 10px;
    }
}
